body{
  background-color: #EAF6F6;
  font-family: 'Pacifico', cursive;
  /* width: 100vw;
  height: 100vw;
  background: #111; */
}
.svgBox{
  fill: none;
  stroke: #222;
  stroke-width: 10;
}
hr{
  background-color: white;
  border-style: dotted none none;
  border-color: grey;
  width: 5%;
  border-width: 5px;
}
h2{
  color: #2d5557;
}
h3{
  color: #2d5557;
}
#heading{
  color: #0b6d70;
}
.mid{
  text-align: center;
}
